version: '3'
services:
    vms:
        image: vms
        restart: always
        depends_on: 
            - mongo
        links:
            - mongo
            - vps
        environment:
            MONGO_HOST: mongo
            MONGO_DBNAME: vms
            VIDEOPROCESSING_HOST: http://vps:8080/videos/process
            GATEWAY_HOST: http://gateway:8080
        volumes:
         - ./storage/var/video:/app/videos
         - ./storage/videofiles:/app/processedVideos
    mongo:
        image: mongo
        restart: always
    vps:
        image: vps
        restart: always
        volumes:
        - ./storage/var/video:/app/videos:ro
        - ./storage/videofiles:/app/processedVideos
        - ./storage:/app/script
    gateway:
        image: apigateway
        links: 
            - vms
        ports:
            - "8080:8080"
        environment:
            VMS_HOST: http://vms:8080
        volumes:
        - ./storage/var/video:/app/var/videofiles
volumes:
    storage:

            
