version: '3'
services:
    vms:
        image: vms
        restart: always
        depends_on: 
            - mongo
        links:
            - mongo
            - vps
        environment:
            MONGO_HOST: mongo
            MONGO_DBNAME: vms
            VIDEOPROCESSING_HOST: http://vps:5000
            GATEWAY_HOST: http://gateway:8080
        volumes:
            - ./storage/var/video:/app/videos
            - ./storage/videofiles:/app/processedVideos

    mongo:
        image: mongo
        restart: always

    gateway:
        image: apigateway
        links: 
            - vms
        ports:
            - "8080:8080"
        environment:
            VMS_HOST: http://vms:8080
        volumes:
            - ./storage/videofiles:/app/videofiles

    vps:
        image: video_processor
        environment:
            - PYTHONUNBUFFERED=0
        volumes:
            - ./storage/var/video:/app/videos
            - ./storage/videofiles:/app/processedVideos
    prometheus:
       image: prom/prometheus:latest
       volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
       command:
            - '--config.file=/etc/prometheus/prometheus.yml'
       ports:
            - "9090:9090"
       links:
            - gateway
volumes:
    storage:

            
