apiVersion: v1
kind: Service
metadata:
  name: apigateway
  labels:
    svc: apigateway
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    protocol: TCP
    name: http
  selector:
    app: apigateway_pod
