apiVersion: v1
kind: Service
metadata:
  name: mongodb
  labels:
    svc: mongodb
spec:
  type: LoadBalancer
  ports:
  - port: 27017
    protocol: TCP
    name: http
  selector:
    app: mongodb_pod
