
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
spec:
  selector:
    matchLabels:
      app: mongodb_pod
  replicas: 1
  template:
    metadata:
      labels:
        app: mongodb_pod
    spec:
     containers:
     - name: mongodb
       image: mongo
       resources:
        limits:
         memory: "500Mi"
        requests:
         memory: "300Mi"
       envFrom:
       - secretRef:
           name: mongodb-secret-file
       ports:
       - containerPort: 27017
